@page

<h1 class="text-center mt-4">Witaj w CalcMajster!</h1>

<div class="container mt-5">
    <p>Witamy w naszej aplikacji kalkulatora, która oferuje różne narzędzia matematyczne dostosowane do Twoich potrzeb. <br><br><br>Wybierz jeden z dostępnych kalkulatorów, aby rozpocząć:</p>

    <div class="list-group">
        <a asp-page="/Prosty" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Kalkulator Prosty</h5><br>
            </div>
            <p class="mb-1">Jeśli potrzebujesz szybkiego i łatwego rozwiązania do podstawowych operacji matematycznych, <br>taki jak dodawanie, odejmowanie, mnożenie i dzielenie, ten kalkulator jest dla Ciebie. <br>Jest idealny do codziennych obliczeń, zarówno w domu, jak i w pracy.</p>
        </a>
        <a asp-page="/Naukowy" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Kalkulator Naukowy</h5><br>
            </div>
            <p class="mb-1">Dla bardziej zaawansowanych potrzeb matematycznych, nasz kalkulator naukowy oferuje rozszerzone funkcje, <br>takie jak operacje na liczbach zmiennoprzecinkowych, funkcje trygonometryczne, logarytmy i wiele innych. <br>Jest to idealne narzędzie dla studentów, inżynierów i naukowców.</p>
        </a>
    </div>

    <br><br><p class="mt-4">Każdy z kalkulatorów został zaprojektowany z myślą o łatwości użytkowania oraz szybkości działania, <br>abyś mógł skupić się na rozwiązywaniu problemów, a nie na obsłudze narzędzia. <br>Wybierz kalkulator, który najlepiej odpowiada Twoim potrzebom i zacznij korzystać z naszych narzędzi już dziś!</p>
</div>


