@page
@model PrivacyModel
@{
    ViewData["Title"] = "- Privacy";
}

<div class="container mt-4">
    <h1 class="mb-4">Polityka Prywatności</h1>

    <p>Niniejsza Polityka Prywatności określa zasady zbierania, przetwarzania i wykorzystywania <br>danych osobowych pozyskanych od użytkowników przez CalcMajster <br>podczas korzystania ze strony internetowej http://localhost:5171/.</p>

    <h2 class="mt-3">Pliki Cookies i Technologie Śledzenia</h2>

    <h3>Co to są Pliki Cookies?</h3>
    <p>Pliki cookies to niewielkie pliki tekstowe, które są zapisywane na urządzeniu użytkownika <br>podczas odwiedzania stron internetowych. Używamy ich do poprawienia funkcjonalności <br>naszej strony oraz zapewnienia użytkownikom lepszego doświadczenia przeglądania.</p>

    <h3>Jak Wykorzystujemy Pliki Cookies?</h3>
    <p>Pliki cookies mogą być wykorzystywane do zapamiętywania preferencji użytkownika, <br>personalizowania treści, zbierania danych analitycznych oraz w celach marketingowych. <br>Używamy również plików cookies do śledzenia wzorców ruchu na stronie, co pomaga nam <br>ulepszać jej strukturę i zawartość.</p>

    <h3>Zarządzanie Plikami Cookies</h3>
    <p>Użytkownicy mogą w każdej chwili dostosować ustawienia plików cookies <br>w swojej przeglądarce internetowej. Większość przeglądarek internetowych domyślnie <br>akceptuje pliki cookies, ale użytkownicy mogą zmienić ustawienia, aby <br>odrzucać nowe pliki cookies, wyłączyć istniejące lub po prostu być informowani, kiedy <br>nowe pliki cookies są wysyłane do ich urządzenia.</p>

    <h2 class="mt-3">Zmiany w Polityce Prywatności</h2>
    <p>Zastrzegamy sobie prawo do wprowadzania zmian w Polityce Prywatności. <br>Wszelkie zmiany zostaną opublikowane na tej stronie. <br>Zachęcamy użytkowników do regularnego odwiedzania tej strony w celu <br>sprawdzenia aktualnych informacji o naszych praktykach dotyczących prywatności.</p>
</div>
