@page
@model Calculator.Pages.ProstyModel
@{
    ViewData["Title"] = "- Prosty";
}
<h1>Kalkulator Prosty</h1><br>

<form method="post">
    <div class="form-group">
        <label for="a">Liczba A:</label>
        <input asp-for="Calculator.a" class="form-control" step="any" />
    </div>

    <div class="form-group">
        <label for="oper">Operacja:</label>
        <select asp-for="Calculator.oper" class="form-control" id="oper">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
            <option value="%">%</option>
        </select>
    </div>

    <div class="form-group">
        <label for="b">Liczba B:</label>
        <input asp-for="Calculator.b" class="form-control" step="any" />
    </div>


    <br><button type="submit" class="btn btn-primary">Oblicz</button><br><br>
</form>

@if (Model.Calculator != null)
{
    <p>Wynik: @Model.Calculator.wynik</p>
}
