@page
@model LogowanieModel
@{
    ViewData["Title"] = "- Logowanie";
}
<h1>Logowanie</h1>

<form class="needs-validation" novalidate>
    

    <div class="mb-3">
        <label for="validationCustom03" class="form-label">Adres email</label>
        <input type="email" class="form-control" id="validationCustom03" placeholder="Wpisz adres email" required>
        <div class="valid-feedback">Wygląda dobrze!</div>
        <div class="invalid-feedback">Wypełnij pole!</div>
    </div>

    <div class="mb-3">
        <label for="validationCustom04" class="form-label">Hasło</label>
        <input type="password" class="form-control" id="validationCustom04" placeholder="Wpisz hasło" required>
        <div class="valid-feedback">Wygląda dobrze!</div>
        <div class="invalid-feedback">Wypełnij pole!</div>
    </div>

    <div class="col-12">
        <button class="btn btn-primary" type="submit">Zaloguj się</button>
    </div>
</form>