@page
@model RejestracjaModel
@{
    ViewData["Title"] = "Rejestracja";
}

<h1>Rejestracja</h1>

<form class="needs-validation" novalidate>
    <div class="mb-3">
        <label for="validationCustom01" class="form-label">Imię</label>
        <input type="text" class="form-control" id="validationCustom01" placeholder="Wpisz imię" required>
        <div class="valid-feedback">Wygląda dobrze!</div>
        <div class="invalid-feedback">Wypełnij pole!</div>
    </div>

    <div class="mb-3">
        <label for="validationCustom02" class="form-label">Nazwisko</label>
        <input type="text" class="form-control" id="validationCustom02" placeholder="Wpisz nazwisko" required>
        <div class="valid-feedback">Wygląda dobrze!</div>
        <div class="invalid-feedback">Wypełnij pole!</div>
    </div>

    <div class="mb-3">
        <label for="validationCustom03" class="form-label">Adres email</label>
        <input type="email" class="form-control" id="validationCustom03" placeholder="Wpisz adres email" required>
        <div class="valid-feedback">Wygląda dobrze!</div>
        <div class="invalid-feedback">Wypełnij pole!</div>
    </div>

    <div class="mb-3">
        <label for="validationCustom04" class="form-label">Hasło</label>
        <input type="password" class="form-control" id="validationCustom04" placeholder="Wpisz hasło" required>
        <div class="valid-feedback">Wygląda dobrze!</div>
        <div class="invalid-feedback">Wypełnij pole!</div>
    </div>

    <div class="mb-3">
        <label for="validationCustom05" class="form-label">Powtórz hasło</label>
        <input type="password" class="form-control" id="validationCustom05" placeholder="Powtórz hasło" required>
        <div class="valid-feedback">Wygląda dobrze!</div>
        <div class="invalid-feedback" id="passwordMismatchFeedback">Hasła nie są takie same!</div>
    </div>

    <div class="mb-3 form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
        <label class="form-check-label" for="invalidCheck">
            Wyrażam zgodę na przetwarzanie moich danych osobowych w celach marketingowych oraz akceptuję <a asp-area="" asp-page="/Regulamin">Regulamin</a> strony.
        </label>
        <div class="invalid-feedback">Musisz zaakceptować regulamin, żeby się zarejestrować!</div>
    </div>

    <div class="col-12">
        <button class="btn btn-primary" type="submit">Zarejestruj się</button>
    </div>
</form>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const password = document.getElementById("validationCustom04");
        const confirmPassword = document.getElementById("validationCustom05");
        const passwordMismatchFeedback = document.getElementById("passwordMismatchFeedback");

        function validatePasswordsMatch() {
            if (password.value !== confirmPassword.value) {
                confirmPassword.classList.add("is-invalid");
                confirmPassword.classList.remove("is-valid");
                passwordMismatchFeedback.style.display = 'block';
                return false;
            } else {
                confirmPassword.classList.remove("is-invalid");
                confirmPassword.classList.add("is-valid");
                passwordMismatchFeedback.style.display = 'none';
                return true;
            }
        }

        password.addEventListener('input', validatePasswordsMatch);
        confirmPassword.addEventListener('input', validatePasswordsMatch);
    });
</script>
